.App {
  text-align: center;
  height: 40em;
  width: 40em;
  /* border-style: solid;
  border-width: medium;
  border-color: black; */
  background-color: #703F9A;
  margin-left: 25em;
  margin-top: 2em;
  /* overflow: auto; */
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .centerConsole {
  background-color: #703F9A;
  height: 20em;
  width: 100%
} */

/* app */

.appH1 {
  margin-top: 3em;
  padding-top: 1px;
}

.appButtonContainerDiv {
  margin: 16em 3em;
}

.appSeeBarsButton {
  margin-top: 3em;
}

.jumbotron {
  background-color: #703F9A;
}

/* login */

.login {
  text-align: center;
  /* height: 40em;
  width: 40em; */
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: medium;
  border-color: black;
  background-color: #703F9A;
  /* margin-left: 25em; */
  /* margin-top: 2em; */
  /* overflow: auto; */
  margin-top: -48.8em;
  position: relative;
}

/* signup */

.signup {
  text-align: center;
  /* height: 40em;
  width: 40em; */
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: medium;
  border-color: black;
  background-color: #703F9A;
  /* margin-left: 25em; */
  /* margin-top: 2em; */
  /* overflow: auto; */
  margin-top: -48.8em;
  position: relative;
}

.userpage {
  text-align: center;
  /* height: 40em;
  width: 40em; */
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: medium;
  border-color: black;
  background-color: #703F9A;
  /* margin-left: 25em; */
  /* margin-top: 2em;
  /* overflow: auto; */
  margin-top: -48.8em;
  position: relative;
}

.seeBars {
  text-align: center;
  /* height: 40em;
  width: 40em; */
  height: 100%;
  width: 100%;
  border-style: solid;
  border-width: medium;
  border-color: black;
  background-color: #703F9A;
  /* margin-left: 25em; */
  /* margin-top: 2em; */
  /* overflow: auto; */
  margin-top: -51.70em;
  position: relative;
}
